command=/usr/lib/i3blocks/$BLOCK_NAME
separator_block_width=12

[iface]
label=IPs:
interval=10
separator=false

[ip]
command=$HOME/.dotfiles/i3blocks/ipaddress.py
interval=60
separator=false

[ping]
command=$HOME/.dotfiles/i3blocks/ping.py
interval=10
separator=false

[vpn]
command=$HOME/.dotfiles/i3blocks/openvpn.py
interval=10

[load_average]
interval=10

[disk]
label=/
instance=/
interval=30
separator=false

[disk]
label=/home
interval=30
separator=false

[disk]
label=/tmp
instance=/tmp
interval=30

[memory]
label=RAM
interval=30

[volume]
label=Vol:
interval=1
signal=12

[time]
command=date '+%d-%m-%Y %H:%M:%S'
interval=1

