! Xft settings
Xft.dpi:                    96
Xft.antialias:              true 
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

! URxvt settings
URxvt.termName:             rxvt-256color
URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.transparent:          false
URxvt.fading:               0
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.saveLines:            50
URxvt.internalBorder:       3
URxvt.lineSpace:            0

! Fonts
URxvt.allow_bold:           false
URxvt*font:                 xft:Inconsolata:size=14
! URxvt*boldFont:             xft:Inconsolata:pixelsize=14

! Fix font space
URxvt.letterSpace: -1

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common:      default,matcher
URxvt.matcher.button:       1
URxvt.urlLauncher:          /usr/bin/xdg-open

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

! Colours
*.foreground:   #cfd2cf
*.background:   #2f2f38
*.cursorColor:  #cfd2cf

*.color0:       #34343e
*.color8:       #b0c4bb
*.color1:       #9aafaa
*.color9:       #9aafaa
*.color2:       #759496
*.color10:      #759496
*.color3:       #93b3b0
*.color11:      #93b3b0
*.color4:       #688486
*.color12:      #688486
*.color5:       #668ca1
*.color13:      #668ca1
*.color6:       #759496
*.color14:      #759496
*.color7:       #b0c4bb
*.color15: #b0c4bb
